@import '../_theme';

.barrier {
  &.answer-container {
    background: $containerColor;
    padding: 2em;
    border-radius: $borderRadius;
    border-style: solid;
    border-color: $containerColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
    position: fixed;
    top: 25%;
    left: 20%;
    height: 55%;
    width: 60%;
  }
  &.country-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
    justify-content: space-between;
  }
  &.flag-container {
    &:disabled {
      cursor: not-allowed;
      pointer-events: none;
    }
    cursor: pointer;
    background: $accent;
    border-radius: $borderRadius;
    height: 2em;
    width: 9em;
  }
  &.country-name {
    margin-top: 0.5em;
  }
  &.answer-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1em;
  }
}

input[type="radio"] {
  appearance: none;
}
input[name="answerOptions"] + label {
  &:disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.4;
  }
  background: $accentDarkContainerColor;
  border-radius: $borderRadius;
  display: inline-block;
  padding-top: 1.2em;
  width: 4em;
  height: 4em;
  cursor: pointer;
  font-size: 1.1em;
  text-transform: capitalize;
  transition: all 0.3s ease;
}


/*
  Update if colors in backend change
 */
input[value="INDIANRED"]:checked + label {
  background-color: $accentColor1;
}

input[value="ORANGE"]:checked + label {
  background-color: $accentColor2;
}

input[value="YELLOW"]:checked + label {
  background-color: $accentColor3;
}

input[value="LIGHTGREEN"]:checked + label {
  background-color: $accentColor4;
}

input[value="LIGHTSKYBLUE"]:checked + label {
  background-color: $accentColor5;
}

input[value="VIOLET"]:checked + label {
  background-color: $accentColor6;
}