@import "../_theme";

$thickness: 4em;
$borderRadius: $thickness/2;
$tall: 70%;
$wide: 85%;
$top: 17.5%;
$left: 7.5%;
$side: 2%;

.board {
    &.container {
        position: fixed;
        top: 5%;
        left: 5%;
        height: fit-content;
        width: fit-content;
        display: flex;
    }

    &.left-column {
        &.container {
            position: fixed;
            top: $top;
            left: $side;

            height: $tall;
            width: $thickness;
            border-radius: $borderRadius;
            flex-direction: column;
            justify-content: space-between;

            //background: lightcoral;
        }
    }

    &.top-row {
        &.container {
            position: fixed;
            top: 10%;
            left: $left;

            height: $thickness;
            width: $wide;
            border-radius: $borderRadius;
            flex-direction: row;
            justify-content: space-between;

            //background: lightcoral;
        }
    }

    &.right-column {
        &.container {
            position: fixed;
            top: $top;
            left: 100 - $side;
            margin-left: -$thickness;

            height: $tall;
            width: $thickness;
            border-radius: $borderRadius;
            flex-direction: column;
            justify-content: space-between;

            //background: lightcoral;
        }
    }

    &.bottom-row {
        &.container {
            position: fixed;
            left: $left;
            top: 87.5%;

            height: $thickness;
            width: $wide;
            border-radius: $borderRadius;
            flex-direction: row;
            justify-content: space-between;

            //background: lightcoral;
        }
    }
}

.start {
    &.container {
        display: flex;
        justify-content: center;
        border-radius: 50%;
        background-color: $containerColor;
        height: $thickness;
        width: $thickness;
    }
}

.position {
    &.container {
        display: flex;
        justify-content: center;
        border-radius: 50%;
        background-color: $containerColor;
        height: $thickness;
        width: $thickness;
    }
}

.barrier {
    &.container {
        display: flex;
        justify-content: center;
        height: $thickness;
        width: $thickness;
    }
    &.icon {
        @include icon;
        font-size: 77px;
        color: $textColor;
        margin: -0.0825em 0 0 1em;
    }
}

.end {
    &.container {
        display: flex;
        justify-content: center;
        border-radius: 50%;
        background-color: $containerColor;
        height: $thickness;
        width: $thickness;
    }
}
