@import '../_theme';

.country-ranking {
  &.container {
    background: $containerColor;
    padding: 2em;
    border-radius: $borderRadius;
    border-style: solid;
    border-color: $containerColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
    position: fixed;
    top: 17.5%;
    left: 20%;
    height: 65%;
    width: 60%;
  }
  &.flag-rows {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 3em;
    margin-bottom: 1em;
    margin-top: 1em;
    justify-content: space-between;
  }
  &.countries-container {
    background: $accentDarkContainerColor;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 16em;
  }
  &.flag-container {
    &:disabled {
      pointer-events: none;
    }
    cursor: pointer;
    border-radius: $borderRadius;
    margin-top: 0.5em;
    height: 3.65em;
    width: 14em;
  }
  &.country-name {
    display: flex;
    font-size: 1.1em;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 0.6em;
    cursor: pointer;
    height: 3em;
    width: 12em;
  }
  &.bottom-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    position: relative;
  }
  &.number-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 1em;
  }
  &.marker-container {
    display: flex;
    align-items: center;
  }
  &.marker-number {
    position: absolute;
    cursor: pointer;
    margin-left: 1.35em;
    font-size: 1.2em;
  }
}

input[type="radio"] {
  appearance: none;
}

.marker-radio {
  height: 3.4em;
  width: 3.4em;
  border-radius: 50%;
  cursor: pointer;
  background-color: $accentDarkContainerColor;
}

/*
  Update if colors in backend change
 */
input[value="INDIANRED"]:checked {
  background-color: $accentColor1;
}

input[value="ORANGE"]:checked {
  background-color: $accentColor2;
}

input[value="YELLOW"]:checked {
  background-color: $accentColor3;
}

input[value="LIGHTGREEN"]:checked {
  background-color: $accentColor4;
}

input[value="LIGHTSKYBLUE"]:checked {
  background-color: $accentColor5;
}

input[value="VIOLET"]:checked {
  background-color: $accentColor6;
}