@import '../_theme';

.country-ranking {
  &.container {
    background: $containerColor;
    padding: 2em;
    border-radius: $borderRadius;
    border-style: solid;
    border-color: $containerColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
    position: fixed;
    top: 25%;
    left: 20%;
    height: 55%;
    width: 60%;
  }
  &.flag-rows {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin-bottom: 1em;
    gap: 1em;
    justify-content: space-between;
  }
  &.countries-container {
    background: $accentDarkContainerColor;
    border-radius: $borderRadius;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 10em;
  }
  &.flag-container {
    &:disabled {
      cursor: not-allowed;
      pointer-events: none;
    }
    cursor: pointer;
    background: $accent;
    border-radius: $borderRadius;
    height: 2em;
    width: 9em;
  }
  &.country-name {
    margin-top: 0.5em;
    color: $textColor;
    position: absolute;
    cursor: pointer;
  }
  &.bottom-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    position: relative;
  }
  &.number-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
  }
  &.marker-container {
    display: flex;
    align-items: center;
  }
  &.marker-number {
    color: $textColor;
    position: absolute;
    cursor: pointer;
    display: inline;
    margin-left: 1.65em;
  }
}

input[type="radio"] {
  appearance: none;
}

.marker-radio {
  &:disabled {
    cursor: default;
    opacity: 0.4;
  }
  &:hover {
    transform: none;
  }
  align-self: end;
  margin-right: 1em;
  margin-left: 1em;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8em;
  text-align: center;
  height: 3em;
  width: 3em;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 1;
  color: $textColor;
  background-color: $accentDarkContainerColor;
  transition: all 0.3s ease;
}

.country-radio {
  &:disabled {
    cursor: default;
    opacity: 0.4;
  }
  &:hover {
    transform: none;
  }
  height: auto;
  width: auto;
  cursor: pointer;
  opacity: 1;
  background-color: $accentColor1;
  transition: all 0.3s ease;
}

/*
  Update if colors in backend change
 */
input[value="INDIANRED"]:checked {
  background-color: $accentColor1;
}

input[value="ORANGE"]:checked {
  background-color: $accentColor2;
}

input[value="YELLOW"]:checked {
  background-color: $accentColor3;
}

input[value="LIGHTGREEN"]:checked {
  background-color: $accentColor4;
}

input[value="LIGHTSKYBLUE"]:checked {
  background-color: $accentColor5;
}

input[value="VIOLET"]:checked {
  background-color: $accentColor6;
}