@import "../_theme";

.header {
  &.container {
    @include left;
  }

  &.title {
    font-weight: bold;
    color: $textColor;
    text-align: left;
  }

  &.home {
    &.username {
      font-weight: bold;
      color: $accent;
      text-align: left;
    }
  }

  &.game {
    &.username {
      font-weight: bold;
      color: $player1;
      text-align: left;
    }

    &.barrier-counter {
      margin-left: auto;
      color: $player2;
    }

    &.round-counter {
      margin-left: auto;
      color: $accent;
    }

    &.icon {
      @include icon;
      font-size: 2.5em; /* Preferred icon size */
      margin-left: 1em;
      color: $accent;
      cursor: pointer;
    }
  }
}