@import "../_theme";

.header {
  &.container {
    @include left;
  }

  &.title {
    font-weight: bold;
    color: $textColor;
    text-align: left;
  }

  &.home {
    &.username {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: bold;
      color: $accent;
      text-align: left;
    }
  }

  &.game {
    &.username {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 30%;
      font-weight: bold;
      color: $accent;
      text-align: left;
    }

    &.playerlist {
      @include left;
      color: $accentDark;
      width:100%;
      height: 50px;
      display: flex;
      flex-direction:row;
      gap: 2em;
      padding-left: 2em;
      padding-right: 2em;
      justify-content: space-evenly;
    }

    &.playername {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-left: 1em;
      padding-right: 1em;
      width:100%;
      border-radius: $borderRadius;
      text-align:center;
      justify-content: center;
    }

    &.round-counter {
      margin-left: auto;
      color: $accent;
    }

    &.icon {
      @include icon;
      font-size: 2.5em; /* Preferred icon size */
      margin-left: 1em;
      color: $accent;
      cursor: pointer;
    }
  }
}