@import 'styles/theme';

.header {
  &.container {
    @include left;
  }

  &.title {
    font-weight: bold;
    color: $textColor;
    text-align: left;
  }

  &.home {
    &.username {
      font-weight: bold;
      color: $accent;
      text-align: left;
    }
  }

  &.game {
    &.username {
      font-weight: bold;
      color: $player1;
      text-align: left;
    }

    &.barrier-counter {
      margin-left: auto;
      color: $player2;
    }

    &.round-counter {
      color: $accent;
    }

    &.icon {
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 2.5em;  /* Preferred icon size */
      margin-left: 1em;
      line-height: 1;
      text-transform: none;
      letter-spacing: normal;
      word-wrap: normal;
      white-space: nowrap;
      direction: ltr;
      color: #7F7F7F;

      /* Support for all WebKit browsers. */
      -webkit-font-smoothing: antialiased;
      /* Support for Safari and Chrome. */
      text-rendering: optimizeLegibility;

      /* Support for Firefox. */
      -moz-osx-font-smoothing: grayscale;

      /* Support for IE. */
      font-feature-settings: 'liga';
    }
  }
}