@import "../_theme";

.howto{
    display: flex;
    &.container {
        background: #7F7F7F;
        opacity: .8;
        padding: 1.5em;
        border-radius: $borderRadius;
        display: flex;
        flex-direction: column;
        align-content:center;
        box-shadow: $dropShadow;
      }
    &.title {
        margin-top: 2.5em;
        margin-bottom: 0.3em;
    }  
    &.second-title{
        margin-bottom: 0em;
        font-weight: 700;
        font-style: italic;
    }
}