@import 'styles/theme';

.login {
  &.container {
    margin-top: 2em;
    min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 30em;
    height: fit-content;
    font-size: 1em;
    padding: 2.5em;
    border-radius: 0.75em;
    background-color: $containerColor;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1em;
  }
  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    background: transparentize($textColor, 0.5);
    color: $textColor;
  }
  &.label {
    color: $textColor;
    margin-bottom: 10px;
    margin-top: 1em;
    text-transform: lowercase;
    font-size: 1.1em;
    font-weight: 300;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-direction: column;
  }
}