@import "../_theme";

.login {
  &.container {
    margin-top: 2em;
    min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    max-width: 50em;
    height: fit-content;
    font-size: 1em;
    padding: 2em;
    border-radius: 0.75em;
    background-color: $containerColor;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.form {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  &.field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    padding-bottom: 1em;
  }
  &.input {
    padding: 1em;
    padding-left: 4em;
    width: 100%;
    border: none;
    border-radius: $borderRadius;
    background: transparentize($textColor, 0.5);
    color: $accent;
  }
  &.label {
    display: none;
  }
  &.secondary-button-container {
    display: flex;
    justify-content: flex-end;
  }
  &.button-container {
    display: flex;
    justify-content: center;
  }
  &.icon {
    @include icon;
    font-size: 2em;
    color: $accent;
    padding-top: 0.4em;
    position: absolute;
    margin-left: 0.5em;
  }}