@import 'styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.profile {
  &.container {
    margin-top: 2em;
    background-color: $containerColor;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: row;
    align-items: left;
    box-shadow: $dropShadow;
    height: fit-content;
    width: fit-content;
  }
  &.sections {
    padding: 1.5em;
    display: flex;
    align-items: left;
    flex-direction: column;
    width: auto;
  }
  &.row {
    margin-top: 1.5em;
    flex-direction: row;
    display: flex;
    align-items: left;
    justify-content: space-between;
    height: fit-content;
    width: auto;
  }
  &.picture {
    align-items: center;
    justify-content: center;
    background: none;
    box-shadow: none;
    width: 15em;
    height: auto;
  }
  &.username {
    font-weight: 700;
    color: $textColor;
  }
  & p,h2 {
    align-items: left;
  }
}