@import "../_theme";

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.profile {
  &.container {
    margin-top: 2em;
    background-color: $containerColor;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: row;
    align-items: left;
    box-shadow: $dropShadow;
    height: fit-content;
    width: fit-content;
  }
  &.sections {
    display: flex;
    flex-direction: column;
    width: 25em;
  }
  &.row {
    padding: 1em;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    height: fit-content;
  }
  &.picture-container {
    @include center;
    display: flex;
    flex-direction: column;
    width: 25em;
  }
  &.picture {
    @include center;
    flex-direction: column;
    margin-right: 1em;
    background: none;
    box-shadow: none;
    height: 8em;
  }
  &.username {
    padding-left: 1em;
    padding-right: 1em;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    height: fit-content;
  }
  &.icon {
    @include icon;
    font-size: 10em; /* Preferred icon size */
  }
}