@import "../_theme";

.edit {
  &.container {
    margin-top: 2em;
    min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    max-width: 30em;
    height: fit-content;
    font-size: 1em;
    padding: 2em;
    border-radius: 0.75em;
    background-color: $containerColor;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.label {
    color: $textColor;
    margin-bottom: 5px;
    margin-left: 4px;
    font-size: 1.1em;
    font-weight: 300;
  }
  &.input {
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 10px;
    background: transparentize($textColor, 0.5);
    color: $accent;
    color-scheme: dark
  }
  &.button-container {
    display: flex;
    gap: 1em;
  }
}

input[type="date"] {
  appearance: none;
}