@import "../_theme";

.solosettings{
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5em;
    .container{
        margin-top: 2em;
        font-size:larger;
        flex-direction: column;
        margin-right: 5em;
    }
}