@import '../_theme';

.turn-scoreboard {

  &.container {
    background: $containerColor;
    padding: 2em;
    border-radius: $borderRadius;
    border-style: solid;
    border-color: $player1;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
    position: fixed;
    top: 25%;
    left: 20%;
    height: 55%;
    width: 60%;
  }
  
  &.table-row {
    display: grid; /* Use CSS grid instead of flexbox */
    grid-template-columns: 30px 50px 130px 20px 5px 90px 120px;
    height: 45px; /* Set a fixed height */
    width: 100%;
    margin-bottom: 1em;
    margin-top: 1em;
    gap: 1em;
    border-bottom: 1px solid #ccc; /* Add a bottom border */
  
    & img {
      border-radius: 5%;
      width: 50px;
      grid-column: 2; /* Set the column position for the image */
    }
  
    & div {
      display: flex;
      align-items: center;
      flex: 1;
      white-space: nowrap;
      align-self: center;
    }

    
  }
}






