@import "../_theme";

.users {
  &.container {
    margin-top: 2em;
    background-color: $containerColor;
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
    height: fit-content;
    width: fit-content;
  }
  &.user-list {
    list-style: none;
    padding-left: 0;
  }
  &.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  & p,h2 {
    margin: 0.5em 0;
  }
}

.player {
  @include left;
  &.container {
    margin: 0.5em 0;
    width: 30em;
    padding: 1em;
    border-radius: $borderRadius;
    justify-content: space-between;
    background: $textColor;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.05);
      &:active {
        background: $accentDark;
      }
    }
  }
  &.username {
    font-weight: 700;
    color: $accentDark;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    width: 25em;
  }
  &.status {
    color: $accent;
    }
}