@import "../theme";

$thickness: 4em;
$tall: 70%;
$wide: 85%;
$top: 17.5%;
$left: 7.5%;
$side: 1%;

.board {
    &.container {
        position: fixed;
        top: 5%;
        left: 5%;
        height: fit-content;
        width: fit-content;
        display: flex;
    }

    &.left-column {
        &.container {
            position: fixed;
            top: $top;
            left: $side;

            height: $tall;
            width: $thickness;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &.top-row {
        &.container {
            position: fixed;
            top: 10%;
            left: $left;

            height: $thickness;
            width: $wide;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &.right-column {
        &.container {
            position: fixed;
            top: $top;
            left: 100 - $side;
            margin-left: -$thickness;

            height: $tall;
            width: $thickness;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &.bottom-row {
        &.container {
            position: fixed;
            left: $left;
            top: 87.5%;

            height: $thickness;
            width: $wide;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

.start {
    &.container {
        display: flex;
        align-self: center;
        justify-content: center;
        border-radius: 50%;
        background-color: $containerColor;
        height: $thickness;
        width: $thickness;

    }
    &.icon {
        @include icon;
        font-size: 4em;
        color: $textColor;
        position: absolute;
    }
}

.position {
    &.container {
        display: flex;
        align-self: center;
        justify-content: center;
        border-radius: 50%;
        background-color: $containerColor;
        height: $thickness;
        width: $thickness;
    }
}

.barrier {
    &.container {
        display: flex;
        align-self: center;
        justify-content: center;
        height: $thickness;
        width: $thickness;
    }
    &.icon {
        @include icon;
        font-size: 77px;
        color: $textColor;
        margin: -0.0825em 0 0 1em;
    }
}

.end {
    &.container {
        display: flex;
        align-self: center;
        justify-content: center;
        border-radius: 50%;
        background-color: $containerColor;
        height: $thickness;
        width: $thickness;
    }
    &.icon {
        @include icon;
        font-size: 3.5em;
        color: $textColor;
        position: absolute;
        margin-top: 0.03em;
    }
}
