/*
  This file contains the most basic variables that control how your application will look.
 */

/* Theme Colors

   these values control the colors of your application.
   feel free to play around with these and see what other look you can come up with! :D
*/

$accent: #7F7F7F;
$accentDark: #292929;
$textColor: #D7D7D7;
$containerColor: #7F7F7FCC;
$accentDarkContainerColor: #292929CC;

/*
  Update if colors in backend change
 */
$accentColor1: #CD5C5C;
$accentColor2: #FFA500;
$accentColor3: #FFFF00;
$accentColor4: #90EE90;
$accentColor5: #87CEFA;
$accentColor6: #EE82EE;

/* some constants */

$DESKTOP_WIDTH: 1160px;
$SMALL_LAPTOPS_WIDTH: 970px;
$TABLETS_WIDTH: 750px;
$SMALL_WIDTH: 768px;

/* some standard elements */
/* fonts */
$fontDefault: "M PLUS Rounded 1c", sans-serif;
$fontMono: "Roboto Mono", monospace;

/* a standard drop shadow */
$dropShadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);

$borderRadius: 0.75em;
$borderRadiusSmaller: 0.25em;
$borderRadiusRound: 6.25em;

/* mixins

  these allow you to create small snippets that you can insert with a one-liner in other stylesheets
  for an example, see styles/views/Login.scss
*/
@mixin center {
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: center;
}

@mixin left {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1em;
}

@mixin right {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1em;
}

@mixin icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1em;  /* Preferred icon size */
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

:export {
    textColor: $textColor;
    containerColor: $containerColor;
    player1: $accentColor1;
    player2: $accentColor2;
    player3: $accentColor3;
    player4: $accentColor4;
    player5: $accentColor5;
    player6: $accentColor6;

}